<section class="container mx-auto flex flex-col items-center gap-2 py-8 text-center md:py-16 lg:py-20 xl:gap-4">
  <h1
    class="leading-tight text-4xl font-bold tracking-tight text-balance lg:leading-[1.1] lg:font-semibold xl:text-6xl xl:tracking-tighter max-w-4xl">
    Análise profissional de dados
  </h1>
  <p class="text-neutral-500 dark:text-neutral-300 max-w-2xl text-base text-balance">
    Uma coleção de componentes gráficos prontos para uso, criados com o echarts. Gráficos básicos a exibições de dados
    avançadas, copie e cole em seus aplicativos.
  </p>
</section>

<section class="flex-1 relative container mx-auto pb-8 px-8">
  <div class="grid grid-cols-1 gap-4 lg:grid-cols-6">
    <div class="relative min-h-96 lg:col-span-6">
      @defer (on viewport) {
        <app-fluxo-caixa-diario-semana />
      } @placeholder {
        <div role="status" class="h-full w-full bg-card-background rounded animate-pulse"></div>
      }
    </div>

    <div class="relative min-h-96 lg:col-span-3">
      @defer (on viewport) {
        <app-documentos-por-uf />
      } @placeholder {
        <div role="status" class="h-full w-full bg-card-background rounded animate-pulse"></div>
      }
    </div>

    <div class="relative min-h-96 lg:col-span-3">
      @defer (on viewport) {
        <app-vencimento-certificado-digital />
      } @placeholder {
        <div role="status" class="h-full w-full bg-card-background rounded animate-pulse"></div>
      }
    </div>
  </div>
</section>
